@{
    ViewBag.Title = "Home Page";
}

<style>
    h1 {
        color: #339EFF;
    }

    img {
        width: 70vw;
        height: 80vh;
        border-radius: 5px;
    }
</style>

<h1>Bienvenido!</h1>
<h2>Participación ciudadana</h2>
<img src="https://hfps.gov.co/wp-content/uploads/2021/02/PLAN-DE-PARTICIPACION-CIUDADANA.jpeg"/>