@{
    ViewBag.Title = "ValidarCertificaciones";
}

@{
    Layout = null;
}


<link rel="stylesheet" href="~/Content/CSSUser/stylesCiud.css" type="text/css" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="sidenav">
    <div class="login-main-text">
        <h1>Participación ciudadana</h1><br>
        <h2>Validación de certificados</h2><br><br><br>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form method="post">
                <div class="form-group">
                    <label>Radicado: </label>
                    <input type="text" name="ID_CERTIFICADO" class="input" placeholder="Ingrese número de radicado" required />
                </div>
                <div class="form-group">
                    <label>Número de documento: </label>
                    <input type="text" name="NUM_DOCUMENTO" class="input" placeholder="Ingrese número de documento" required />
                </div>
                <button type="submit" class="btn btn-black">Validar</button>
                <button type="submit" class="btn btn-secondary">@Html.ActionLink("Regresar", "", "", new { @style = "color: white; text-decoration: none;" })</button>
            </form>
        </div>
    </div>
</div>
