@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio de sesión Ciudadano</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form class="bg-info" style="padding:1em">
                    <div class="form-group">
                        <label>Usuario: </label>
                        <input type="text" placeholder="Ingrese usuario" required />
                    </div>

                    <div class="form-group">
                        <label>Contraseña: </label>
                        <input type="password" placeholder="Ingrese contraseña" required />
                    </div>

                    <input type="submit" value="Iniciar sesión"/>
                </form>   
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
